.content {
  padding: 50px;
  position: absolute;
  top: 100px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow-y: scroll;
}

.grilla {
  padding: 4px;
}

.content-fotografia {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #333;
  border: 1px solid #999;
}

.content-fotografia-disabled {
  transform: scale(0.9) rotate(-8deg);
  opacity: 0.5;
}

.fotografia {
  box-shadow: 0px 4px 10px rgba(209, 194, 194, 0.2);

  background-size: cover;
  background-position: center center;
  border-bottom: none;
  /* width: 290px; */
  height: 180px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Asegura que los elementos hijos se posicionen dentro del contenedor */
  object-fit: cover;
}

/* .fotografia img {
    width: 290px;
    height: 140px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
} */

.datos {
  height: 40px;
  width: 100%;
  font-size: 11px;
  padding: 5px;
  padding-top: 10px;
  padding-left: 10px;
  color: #eee;
  /*border: 1px solid #999;*/
  border-top: none;
  box-shadow: 0px 4px 10px rgba(209, 194, 194, 0.2);
}

.fotografia-hover {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: #333;
  display: flex;
  overflow: hidden;
  transition: all .2s linear;
}

.fotografia-hover div {
  opacity: 0;
  margin: auto;
  padding: 5px;
  width: 40px;
  height: 40px;
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(0);
  transition: all .2s linear;
}

.fotografia-hover mat-icon {
  color: #fff;
}

.content-fotografia:hover .fotografia-hover {
  opacity: 0.8;
}

.content-fotografia:hover .fotografia-hover div{
  transform: scale(1);
  opacity: 1;
}

.fotografia-hover div:hover{
  background: #fff;
}

.fotografia-hover div:hover mat-icon{
  color: #333;
}

.options {
  position: absolute;
  top: 0px;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #333;
  overflow: hidden;
}

.add-fotografia {
  background: rgba(138,175,35,0.5);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto 20px;
  display: flex;
  transition: all .2s linear;
}

.add-fotografia:hover {
  background: rgba(138,175,35,1);
}

.add-fotografia mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: #eee;
  margin: auto;
}



