<div class="banner">
  <div class="home" [routerLink]="['/home/1']">
    <mat-icon>home</mat-icon>
  </div>
  <div class="profile" [routerLink]="['usuario/edit', user._id]">
    <mat-icon>account_box</mat-icon>
    <span><b>Usuario: </b> {{user.usuario}}</span>
  </div>
  <div class="datos">

  </div>

  <div class="opciones-usuario">

    <div class="logout" (click)="logout()">
      <!-- <mat-icon> directions_run</mat-icon>  -->
      Cerrar sesión
    </div>
  </div>
</div>

<div class="content-admin">
  <router-outlet></router-outlet>
</div>

