<div class="content-home">
  <div class="fotografia" *ngFor="let foto of fotografias" [@slideAnimation]="direccion">
    <div class="fotografia-item"
    *ngIf="fotoSeleccionada.fotografia.numero==foto.numero"
    [style.background-image]="'url(' + url + foto.imagen +'/false)'"
    [class.active]="foto.numero === fotoActual">
      <div class="data-fotografia" *ngIf="!verMas">
        {{foto.nombre}}
      </div>

      <div class="leer-mas">
        <div class="btn-leer-mas"  (click)="verMas=!verMas">
          <mat-icon>add</mat-icon>
        </div>
        <div class="txt-leer-mas">Leer más</div>
        <div class="linea-inferior"></div>
        <div class="login" [routerLink]="['/login']">Login</div>
      </div>
    </div>
  </div>
</div>

<div class="content-arrow-nav">
  <div class="move-left" *ngIf="fotoSeleccionada.anterior" [routerLink]="['/home/', fotoSeleccionada.anterior]">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </div>
  <div class="move-right" *ngIf="fotoSeleccionada.siguiente"  [routerLink]="['/home/', fotoSeleccionada.siguiente]">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
</div>

<div class="ver-mas" [@verMasAnimation] *ngIf="verMas" >
  <div class="ver-mas-detalle col-lg-6 col-md-6 col-xs-10">
    <div class="ver-mas-nombre detalle">
      {{fotoSeleccionada.fotografia.nombre}}
    </div>
    <div class="ver-mas-descripcion detalle">
      {{fotoSeleccionada.fotografia.descripcion}}
    </div>
    <div class="ver-mas-autor detalle">
      {{fotoSeleccionada.fotografia.autor}}
    </div>
    <div class="compartir detalle">
      <div class="instagram">
        <img src="../../../assets/images/instagram_64.png" alt="">
      </div>
      <div class="facebook">
        <img src="../../../assets/images/facebook_64.png" alt="">
      </div>
    </div>
  </div>
  <div class="cerrar" (click)="verMas=!verMas">
    <mat-icon>close</mat-icon>
  </div>
</div>

<!-- THUMBS -->
<div class="show-thumbs" (click)="show_thumbs=!show_thumbs">
  <mat-icon *ngIf="!show_thumbs">menu</mat-icon>
  <mat-icon *ngIf="show_thumbs">close</mat-icon>
</div>

<div class="content-thumbs" *ngIf="show_thumbs">
  <div class="numero-fotografia col-lg-3 col-md-4 col-sm-6">
    <div>
      {{fotoSeleccionada.fotografia.numero}}
    </div>
  </div>
  <div class="thumb col-lg-3 col-md-4 col-sm-6" *ngFor="let thumb of fotografias">
    <app-thumb [foto]="thumb" [fotoSeleccionada]="fotoSeleccionada.fotografia"></app-thumb>
  </div>
</div>
