.content-home {
  height: 100vh;
  overflow: hidden;
}

.fotografia {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.fotografia-item {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
  overflow: hidden;
}



.fotografia-item.active{
  opacity: 1;
}

.data-fotografia {
  position: absolute;
  left: 80px;
  bottom: 120px;
  right: 0px;
  color: #fff;
  z-index: 3;
  font-size: 40px;
  font-family: "Roboto-Regular";
  max-width: 500px;
}

.leer-mas {
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 0px;
  display: flex;
  flex-direction: row;
}

.btn-leer-mas {
  width: 34px;
  height: 34px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
}

.btn-leer-mas mat-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: #fff;
  margin: auto;
}

.txt-leer-mas {
  font-family: 'Roboto-ThinItalic';
  margin: auto 15px;
  color: #fff;
}

.linea-inferior {
  margin: auto auto auto 0px;
  height: 1px;
  position: absolute;
  left: 120px;
  top: 18px;
  right: 105px;
  background: #fff;
}

.login {
  position: absolute;
  right: 55px;
  top: 8px;
  color: #fff;
  cursor: pointer;
  transition: all .2s linaer;
  font-family: 'Roboto-ThinItalic';
  font-weight: bold;
}

.login:hover {
  transform: scale(1.2);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.content-arrow-nav {
  position: absolute;
  height: 100px;
  width: 100%;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  display: flex;
  overflow: hidden;
}

.content-arrow-nav mat-icon {
  font-size: 60px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  overflow: hidden;
}

.content-arrow-nav div {
  position: absolute;
  color: rgb(15, 70, 216);
  transition: all .2s linear;
  overflow: hidden;
}

.content-arrow-nav div:hover {
  color: rgb(113, 170, 216);
  overflow: hidden;
}

.move-left {
  left: 10px;
}

.move-right{
  right: 10px;
}

.ver-mas {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(30, 30, 30, 0.8);
  z-index: 6;
}

.ver-mas-detalle {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  font-family: 'Roboto-Thin';
  font-size: 10px;
  color: #fff;
  z-index: 7;
  display: flex;
  flex-direction: column;
}

.ver-mas-nombre {
  font-family: 'Roboto-Thin';
  font-size: 6em;
  color: #fff;
}

.ver-mas-descripcion {
  margin-top: 45px;
  font-family: 'Roboto-Thin';
  font-size: 2.5em;
  color: #fff;
}

.ver-mas-autor {
  margin-top: 30px;
  font-family: 'Roboto-Thin';
  font-size: 1.5em;
  color: #fff;
}

.compartir {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.compartir *{
  margin: 10px;
}

.compartir img{
  width: 52px;
  height: 52px;
}

.compartir div {
  cursor: pointer;
  transition: all .2s linear;
}

.compartir div:hover {
  transform: scale(1.2);
}

.cerrar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 0px;
  display: flex;
  flex-direction: row;
  color: #fff;
  border: 1px solid #fff;
}

.cerrar mat-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: #fff;
  margin: auto;
}


