<div class="content-home">
  <div class="fotografia" *ngFor="let foto of fotografias">
    <div class="fotografia-item"
    *ngIf="fotoSeleccionada.fotografia.numero==foto.numero"
    [style.background-image]="'url(' + url + foto.imagen +'/false)'">
      <div class="data-fotografia">
        {{foto.nombre}}
      </div>

      <div class="leer-mas">
        <div class="btn-leer-mas">
          <mat-icon>add</mat-icon>
        </div>
        <div class="txt-leer-mas">Leer más</div>
        <div class="linea-inferior"></div>
        <div class="login" [routerLink]="['/login']">Login</div>
      </div>
    </div>
  </div>
</div>

<div class="content-arrow-nav">
  <div class="move-left" *ngIf="fotoSeleccionada.anterior" [routerLink]="['/home/', fotoSeleccionada.anterior]">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </div>
  <div class="move-right" *ngIf="fotoSeleccionada.siguiente" [routerLink]="['/home/', fotoSeleccionada.siguiente]">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
</div>
