.item-thumb {
  position: absolute;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.item-thumb-hover {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(10,10,10,0.8) 100%);
  transition: all .2s linear;
}

.detalle {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 60px;
  background: linear-gradient(rgba(255,255,255,0) 0%, rgba(29,29,29,0.8) 100%);
  color: #fff;
  padding: 20px 10px 10px 10px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.linea {
  position: absolute;
  bottom: 40px;
  left: 0px;
  width: 40px;
  height: 1px;
  background: #999;
  transition: all .4s linear;
}

.numero {
  font-family: 'Roboto-Regular';
  font-size: 20px;
  margin: auto 0px;
}

.autor {
  margin: auto auto auto 15px;
  font-family: 'Roboto-Regular';
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: auto;
  opacity: 0;
  transition: all .4s linear;
}

.item-thumb:hover .item-thumb-hover {
  opacity: 0;
}

.item-thumb:hover .linea {
  width: 50%;
  left: 30px;
  background: #fff;
}

.item-thumb:hover .autor {
  opacity: 1;
}
